<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="App.Name" value="Aplicación web de prueba"   />
    <add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TOLEDO_PRUEBAS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <pages>
      <namespaces>
      </namespaces>
      <controls>
        <add tagPrefix="TO4500" namespace="Toledo.UI.Controls"/>
      </controls>
    </pages>

    <webServices>
      <protocols>
        <add name="HttpPost" />
      </protocols>
    </webServices>

  </system.web>



  <system.webServer>

  </system.webServer>

  <system.codedom>
    <compilers>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>