<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="App.Name" value="Aplicación web de prueba"/>
    <add key="ConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TOLEDO_PRUEBAS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces/>
      <controls>
        <add tagPrefix="TO4500" namespace="Toledo.UI.Controls"/>
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer/>
  <system.codedom>
    <compilers/>
  </system.codedom>
</configuration>